.venv/
__pycache__/
*.py[cod]

data/raw/*
data/interim/*
data/processed/*
!data/**/.gitkeep

models/*
!models/.gitkeep

.ipynb_checkpoints/
reports/figures/*
!reports/figures/.gitkeep
*.log
.DS_Store
.idea/
.vscode/
